body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

p {
  color: red;
}

button {
  height: 60px;
  widht: 100px;
  color: green;
}

#result {
  color: red;
}
